@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: THSarabunNew;
  src: url(./assets/fonts/THSarabunNew/THSarabunNew.ttf);
}

.THSarabunNew {
  font-family: THSarabunNew;
}

@font-face {
  font-family: THSarabunPSK;
  src: url(./assets/fonts/THSarabunPSK/THSarabun.ttf);
}

.THSarabunPSK {
  font-family: THSarabunPSK;
}
